.App {
  text-align: center;
}
body{
  width: calc(100vw - 34px);
  background-color:rgb(140, 173, 211);
}

@font-face {
  font-family: "Londrina Solid";
  src: url("./fonts/LondrinaSolid-Regular.ttf");
}

html{
  overflow-y: auto;
}

.logocontainer{
  font-size: 50px;
  text-align:center;
}

.logocontainer h1{
  font-family:'Londrina Solid', Times, serif;
  color: white;
  letter-spacing: 2px;
  user-select: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.attemptcontainer{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width:850px){
  body{
    padding-left: 8px;
  }
  .logocontainer{
    font-size:40px;
  }
  .logocontainer h1{
    letter-spacing: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
